<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Compras Semanal</h1>
    <button>Voltar</button><br><input type="text" placeholder="Novo item"><button>Adicionar</button>
    <ul>
        <li> 5kg de arroz <button> Concluido </button> <button> Excluir </button></li>
        <li> 1 Pacote de açucar <button> Pedente </button> <button> Excluir </button></li>
        <li> 3 pacote de cafe <button> Concluido </button> <button> Excluir </button></li>
    </ul>
    <style>
    
     
       
       
    </style>
</body>
</html>